- @meta = { :description => configatron.meta_description, :keywords => configatron.meta_keywords, :robots => configatron.robots_meta_list_content }


#yui-main
  .yui-b.main
    %br
    -box :class => "blockFlag green first_alt" do 
      %h1
        .blockFlagGreenRightErgo
        .blockFlagGreenLeftErgo
        =:recent_posts.l
      .blockContent
        = render :partial => 'posts/post', :collection => @posts
        %h6.all= link_to :see_all_recent_posts.l, recent_path
  - unless logged_in?
    -box :class => "blockFlag green" do 
      %h1
        .blockFlagGreenRightErgo
        .blockFlagGreenLeftErgo
        = :inscription.l
      .blockContent
        = form_for :user, :url => users_path, :html => {:class => "ajaxSubmit", :id => "register"} do |f|
          = f.text_field :login, :class => "inputText default", :id => "user_login", :placeholder => "Identifiant"
          = f.email_field :email, :class => "inputText default", :placeholder => "Adresse e-mail"
          = date_select :user, :birthday, {:start_year => (Time.now.year - configatron.max_age), :end_year => (Time.now.year - configatron.min_age)}
          %br
          %br
          = f.password_field :password, :class => "inputText default", :placeholder => "Mot de passe"
          = f.password_field :password_confirmation, :class => "inputText default", :placeholder => "Mot de passe (confirmation)"
          %p.btn-in-box
            %button{:type => "submit", :class => "inputButton icon16 tick btn"} S'inscrire
.yui-b.main
  =render :partial => 'shared/explore'

  -box :class => "blockFlag green" do 
    %h1
      .blockFlagGreenRightErgo
      .blockFlagGreenLeftErgo
      = :whats_hot.l
    .blockContent
      %ul.list.page
        -@popular_posts.each do |post|
          =render :partial => 'posts/sidebar_post', :locals => {:post => post}
      %h6.all
        %a{:href=>popular_url}= :see_all.l

  -box :class => "blockFlag green" do 
    %h1
      .blockFlagGreenRightErgo
      .blockFlagGreenLeftErgo
      =:featured_writer.l
    .blockContent
      -@featured_writers.each do |user|
        =render :partial => "users/sidebar_user", :locals => {:user => user}

  -box :class => "blockFlag green" do 
    %h1
      .blockFlagGreenRightErgo
      .blockFlagGreenLeftErgo
      = :active_users.l
    .blockContent
      -@active_users.each do |user|    
        =render :partial => "users/sidebar_user", :locals => {:user => user}  
